* {
    box-sizing: border-box;
    scrollbar-width: none;
}

*::-webkit-scrollbar {
    display: none;
}

body {
    cursor: url("/images/cursor.png"), auto;
    /* overflow: hidden; */
    overflow: scroll;
    background-image: url("/images/pom2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.main_window {
    position: relative;
    margin: 5% auto;
    width: 90%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
}

.window_header {
    width: 100%;
    height: 50px;
    background-image: url("/images/pom2_window.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    flex-shrink: 0;
    margin-bottom: -4px;
    z-index: 1;
}

.window_body {
    position: relative;
    z-index: 2;
    background-color: #d6d6d6;
    border-left: 4px solid #444; 
    border-right: 4px solid #444;
    border-bottom: 4px solid #444;
    border-top: 4px solid #444;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 20px 40px 40px 40px; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu {
    position: relative; 
    top: auto; 
    left: auto; 
    transform: none;
    display: flex;
    gap: 10px;
    padding: 8px;
    background: #f4f4f4;
    z-index: 100;
    width: 90%;
    max-width: 800px;
    align-items: flex-end;
}

.menu a {
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
    font-size: 0.9rem;
    padding: 10px 20px;
    background-image: url("/images/Button.png");
    background-repeat: no-repeat;
    background-size: 100% 100%; 
}

.menu a:hover {
    color: #dab6d4;
}

.profile_pic {
    height: 200px;
    width: 280px;
    object-fit: cover;
    border-right: 4px solid #444; 
    border-top: 4px solid #dadad7;
    border-left: 4px solid #dadad7;
    border-bottom: 4px solid #444;
}

.content {
    position: relative;
    top: auto;
    left: auto;
    transform: none;
    background: #f4f4f4;
    border-left: 4px solid #444; 
    border-right: 4px solid #dadad7;
    border-bottom: 4px solid #dadad7;
    border-top: 4px solid #444;
    font-family: sans-serif;
    padding: 8px;
    width: 90%;
    max-width: 800px;
    margin-top: 20px;  /* distance from menu  */
}

a, img {
    cursor: url("/images/cursor_click.png"), pointer;
}

hr {
    width: 90%;
    max-width: 800px;
    border-color: #b1b1b1;
}

.webring {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}

.folder {
    cursor: url("/images/cursor.png"), auto;
    position: absolute;
    top: 200px;
    left: 150px;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    z-index: 10;
}

.folder p {
    cursor: url("/images/cursor.png"), auto;
    color: white;
    font-family: sans-serif;
    font-size: 0.9rem;
    text-align: center;
    background: rgba(0,0,0,0.3);
    padding: 2px 5px;
    border-radius: 4px;
}

.post_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

/* #cusdis_thread { */
/*     max-width: 700px; */
/*     width: 100%; */
/*     margin: 0 auto; */
/* } */
/**/
/* #cusdis_thread iframe { */
/*     width: 100% !important; */
/*     min-height: 300px !important;  */
/*     border: none !important; */
/* } */

#atabook {
    width: 100%;
    height: 400px;
    scrollbar-width: none !important;
}

@media (max-width: 1100px) {
    .folder {
        display: none; 
    }
}
