body {
    cursor: url("/images/cursor.png"), auto;
    overflow: hidden;
    background-image: url("/images/pom2.jpg");
}

.main_window {
    position: relative;
    margin: 5% auto;
    width: 90%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
}

.window_header {
    width: 100%;
    height: 50px;
    background-image: url("/images/pom2_window.png");
    background-position: top center; 
    background-repeat: no-repeat;
    background-size: 100% auto;
    flex-shrink: 0;
    margin-bottom: -4px; 
    z-index: 1;
}

.window_body {
    position: relative;
    z-index: 2;
    background-color: #d6d6d6;
    border-left: 4px solid #444; 
    border-right: 4px solid #444;
    border-bottom: 4px solid #444;
    border-top: 4px solid #444;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 20px 40px 40px 40px; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu {
    position: relative; 
    top: auto; 
    left: auto; 
    transform: none;
    display: flex;
    gap: 10px;
    padding: 8px;
    background: red;
    z-index: 100;
    width: 90%;
    max-width: 800px;
    align-items: flex-end;
}

.menu a {
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
    font-size: 0.9rem;
    padding: 10px 20px;
}

.menu a:hover {
    color: white;
    background: rgba(255, 255, 255, 0.1);
}

.profile_pic {
    height: 200px;
    width: 280px;
    object-fit: cover;
}

.content {
    position: relative;
    top: auto;
    left: auto;
    transform: none;
    background: purple;
    font-family: sans-serif;
    padding: 8px;
    width: 90%;
    max-width: 800px;
    margin-top: 20px;  /* distance from menu  */
}

a {
    cursor: url("/images/cursor_click.png"), auto;
}


#cusdis_thread {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
}

#cusdis_thread iframe {
    width: 100% !important;
    min-height: 500px !important; 
    overflow: hidden !important;
    border: none !important;
}
